<h2 mat-dialog-title>Create New Executor</h2>

<div mat-dialog-content class="dialog-content">
  <div class="form-group">
    <label for="executorName">Name</label>
    <input id="executorName" [(ngModel)]="name" class="input" placeholder="Executor name" />
  </div>

  <div class="form-group">
    <label for="yamlInput">Executor YAML</label>
    <textarea id="yamlInput" [(ngModel)]="executorYaml" class="yaml-textarea"
              placeholder="Write your EA code here..."></textarea>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="createExecutor()">Create</button>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
</div>
